.control_container span {
    cursor: pointer;
}

.control_container span:hover {
    text-decoration: underline;
}

.editor_container {
    padding: 7px 5px 0 5px;
    border: 1px dotted gray;
    border-radius: 5px;
}

.button_block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}