.account_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.control_container {
    width: 530px;
}

.basic_data_container {
    border-radius: 5px;
    border: 1px solid rgb(210, 210, 210);
    background-color: whitesmoke;
    padding: 10px;
    height: 300px;
    overflow: hidden;
    box-sizing: border-box;
}