.logout_control_container {
    margin-top: 25px;
}

h3 {
    font-weight: normal;
    border-bottom: 1px dotted dimgray;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.logout_control_container em {
    font-size: 0.9em;
}

.logout_control_container span {
    margin-top: 10px;
}