.control_container span:hover {
    text-decoration: underline;
}

.control_container input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: snow;
    margin-right: 5px;
}

.editor_container {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 5px;
}

.not_specified_element {
    color: darkgray;
}