.action_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    text-align: center;
    cursor: pointer;
    max-width: 8em;
    filter: grayscale(1);
}

.action_button:hover {
    filter: grayscale(0);
}

.green_button {
    background-image: linear-gradient(to right bottom, limegreen, forestgreen);
}

.green_button:active {
    background-image: linear-gradient(to right bottom, forestgreen, limegreen);
}

.red_button {
    background-image: linear-gradient(to right bottom, red, darkred);
}

.red_button:active {
    background-image: linear-gradient(to right bottom, darkred, red);
}

.blue_button {
    background-image: linear-gradient(to right bottom, deepskyblue, blue);
}

.blue_button:active {
    background-image: linear-gradient(to right bottom, blue, deepskyblue);
}
