.sign_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_button {
    display: block;
    padding-right: 5px;
    color: gray;
    cursor: pointer;
}

.register_button:hover {
    text-decoration: underline;
}

.login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0 10px;
    background-image: linear-gradient(to right bottom, limegreen, forestgreen);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.login_button:active {
    background-image: linear-gradient(to right bottom, forestgreen, limegreen);
}

.sign_block img {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
}