.preloader_container {
    margin-top: 50px;
}

.post_container {
    margin-top: 20px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.account_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
}

.account_container img {
    display: inline-block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.account_container a:first-child {
    font-size: 1.4em;
    text-decoration: none;
    color: rgb(50, 50, 50);
}

.account_container a:last-child {
    display: block;
    font-size: 0.6em;
    color: dimgray;
    text-decoration: none;
}

.account_container a:hover {
    text-decoration: underline;
}

.text_header_container, .post_control_container, .stat_container {
    margin-left: -10px;
    margin-right: -10px;
}

.text_header_container {
    font-size: 1.2em;
    border-top: 1px dotted dimgray;
    border-bottom: 1px dotted dimgray;
    padding: 15px;
    background-image: linear-gradient(to right bottom, deepskyblue, dodgerblue);
    color: white;
}

.text_header_container > span {
    display: block;
    font-size: small;
}

.post_control_container {
    background-image: linear-gradient(to right bottom, gainsboro, silver);
    border-bottom: 1px dotted dimgray;
    padding: 5px 15px;
}

.text_body_container {
    margin-top: 10px;
}

.text_body_container > p {
    margin-bottom: 5px;
}

.stat_container {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px dotted dimgray;
}