.mini_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50% 50%;
    overflow: hidden;
}

.mini_button_container img {
    display: block;
    width: 17px;
    height: 17px;
}

/* Стили для кнопок Ok и Add */

.ok, .add {
    background-image: linear-gradient(to right bottom, limegreen, forestgreen);
}

.ok:active, .add:active {
    background-image: linear-gradient(to right bottom, forestgreen, limegreen);
}

/* Стили для кнопки Cancel */

.cancel {
    background-image: linear-gradient(to right bottom, red, darkred);
}

.cancel:active {
    background-image: linear-gradient(to right bottom, darkred, red);
}
