.mini_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    cursor: pointer;
}

.mini_button_container img {
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
}

/* Стили для кнопки Ok */

.ok_mini_button {
    background-image: linear-gradient(to right bottom, limegreen, forestgreen);
}

.ok_mini_button:active {
    background-image: linear-gradient(to right bottom, forestgreen, limegreen);
}

/* Стили для кнопки Cancel */

.cancel_mini_button {
    background-image: linear-gradient(to right bottom, salmon, red);
}

.cancel_mini_button:active {
    background-image: linear-gradient(to right bottom, red, salmon);
}
