.password_control_container {
    margin-top: 25px;
}

h3 {
    font-weight: normal;
    border-bottom: 1px dotted dimgray;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.help_text {
    position: relative;
    color: gray;
    cursor: pointer;
}

.help_text:after {
    content: 'Для изменения пароля введите текущий пароль, новый пароль и его подтверждение и нажмите кнопку "Изменить пароль"';
    position: absolute;
    width: 250px;
    left: 150%;
    top: 0;
    color: black;
    background-color: beige;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    display: none;
}

.help_text:hover:after {
    display: block;
}

.password_control_container input {
    display: block;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: snow;
    box-sizing: border-box;
}

.password_control_container > div {
    margin-top: 10px;
    width: 60%;
    box-sizing: border-box;
}

.password_control_container > div:nth-of-type(1),
.password_control_container > div:nth-of-type(2),
.password_control_container > div:nth-of-type(3) {
    font-size: 0.9em;
    width: 60%;
    padding: 0;
    margin-top: 10px;
}

.password_control_container > span {
    margin-top: 10px;
}

.control_element {
    display: inline-block;
    float: right;
}

.control_element span {
    color: gray;
    cursor: pointer;
}

.control_element span:hover {
    text-decoration: underline;
}

.control_element span:last-child {
    margin-left: 5px;
}
