.form_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sign_form {
    margin: 20px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
    position: relative;
    width: 400px;
}

.header_block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-image: linear-gradient(to right bottom, deepskyblue, cornflowerblue);
    color: white;
    text-align: center;
    border-bottom: 2px solid cornflowerblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sign_form form {
    margin-top: 40px;
}

.sign_form div {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
}

.sign_form p {
    font-size: 0.9em;
}

.sign_form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: snow;
}

.action_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px;
    border: 1px solid greenyellow;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, limegreen, forestgreen);
    color: white;
    text-align: center;
    cursor: pointer;
    max-width: 10em;
}

.action_button:active {
    background-image: linear-gradient(to right bottom, forestgreen, limegreen);
}

.password_control_container {
    float: right;
}

.password_control_element {
    color: gray;
    cursor: pointer;
}

.password_control_element:hover {
    text-decoration: underline;
}

.password_control_element:not(:last-child) {
    margin-right: 1em;
}

.login_help_text, .password_help_text {
    position: relative;
    color: gray;
    cursor: pointer;
}

.login_help_text:after, .password_help_text:after {
    position: absolute;
    width: 200px;
    left: 150%;
    top: 0;
    color: black;
    background-color: beige;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    display: none;
}

.login_help_text:after {
    content: 'Логин может включать только латинские буквы, цифры и знаки подчеркивания';
}

.password_help_text:after {
    content: 'Пароль должен содержать строчные и прописные латинские буквы, цифры, один из знаков _/*-+!@#$%^&= и иметь длину не менее 8-ми символов';
}

.login_help_text:hover:after, .password_help_text:hover:after {
    display: block;
}