h3 {
    font-weight: normal;
    border-bottom: 1px dotted dimgray;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.help_text {
    position: relative;
    color: gray;
    cursor: pointer;
}

.help_text:after {
    content: 'Для изменения логина введите новый логин, текущий пароль и нажмите кнопку "Изменить логин"';
    position: absolute;
    width: 250px;
    left: 150%;
    top: 0;
    color: black;
    background-color: beige;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    display: none;
}

.help_text:hover:after {
    display: block;
}

.login_control_container input {
    display: block;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: snow;
    box-sizing: border-box;
}

.login_control_container p {
    font-size: 0.9em;
    width: 60%;
    padding: 0;
    margin-top: 10px;
}

.login_control_container div {
    margin-top: 10px;
    width: 60%;
    box-sizing: border-box;
}

.login_control_container span {
    margin-top: 10px;
}

.show_password_btn {
    float: right;
    color: gray;
    cursor: pointer;
}

.show_password_btn:hover {
    text-decoration: underline;
}