.comments_container {
    margin-top: 5px;
    margin-bottom: 100px;
}

.comments_container > div {
    margin-top: 10px;
}

.download_button_block {
    display: flex;
    justify-content: center;
    align-items: center;
}