.post_container {
    margin-top: 20px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.title p {
    color: gray;
}

.title input, .text textarea {
    color: rgb(50, 50, 50);
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: snow;
}

.text textarea {
    font-size: 1em;
}

.control_block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.control_block span:first-child {
    margin-right: 5px;
}