.my_posts_container {
    margin-top: 20px;
}

.header_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_block > div:first-child {
    margin-right: 5px;
}

.posts_block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.posts_block div {
    margin: 10px;
}
