.msg_list {
    list-style-type: none;
    font-size: 1em;
    padding-left: 0;
    color: white;
}

.info, .error {
    padding: 5px;
    border-radius: 5px;
}

.error {
    border: 1px solid tomato;
    background-image: linear-gradient(to right bottom, orangered, red);
}

.info {
    border: 1px solid skyblue;
    background-image: linear-gradient(to right bottom, deepskyblue, blue);
}
