.my_posts_container {
    margin-top: 20px;
    margin-bottom: 100px;
}

.my_posts_container > div:last-child {
    padding-bottom: 20px;
}

.header_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_block > div:first-child {
    margin-right: 10px;
}

.preloader_block {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
}

.posts_block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.posts_block > div {
    margin: 10px;
}

.next_button_block {
    display: flex;
    justify-content: center;
}
