.search_block {
    display: flex;
    align-items: center;
}

.search_block input {
    display: inline-block;
    height: 35px;
    width: 600px;
    margin: 0;
    padding: 7px;
    border: 1px solid rgb(210, 210, 210);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
}

.search_block span {
    display: flex;
    align-items: center;
    height: 35px;
    background-image: linear-gradient(to right bottom, limegreen, forestgreen);
    margin-left: -1px;
    padding: 7px;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.search_block span:active {
    background-image: linear-gradient(to right bottom, forestgreen, limegreen);
}

.search_block img {
    max-height: 25px;
}