.avatar_container {
    width: 300px;
}

.avatar_container img {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    object-fit: contain;
}

.avatar_container div {
    margin-top: 10px;
}